---
bg: "rev22_b.png"
layout: default
crawlertitle: "FETRAMS"
title: "FETRAMS"
summary: "Directorio Principal"
---

{% for post in site.posts limit: 5 %}
    <article class="index-page">
      <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
      {{ post.excerpt }}
    </article>
{% endfor %}
