<footer class="blog-footer content-wrapper">
  <p>&copy; <span class="full-year"></span> {{ site.title }}</p>
  <p><a href="https://www.facebook.com/Federaci%C3%B3n-Nacional-de-Transportadores-en-Motocarros-Fetrams-963875656996366">
      <i class="fa fa-facebook-official"></i> {{ site.title }}
    </a></p>
</footer>
<script src="{{ site.baseurl }}/assets/js/scripts.js"></script>
